<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LIBERAL EARTH</title>
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@900&display=swap" rel="stylesheet">
    <link href="/assets/prototype.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">
    <link href="favicon.ico" rel="shortcut icon">
</head>

<body id="index">
<header>
    <div id="logo"><a href="index.html.erb">LIBERAL EARTH</a></div>
    <div class="link">
        <ul id="nav">
            <li id="japanese">
                <a href="1_japanese_top.html">国語</a>
                <div id="japanese_menu">
                    <ul>
                        <li class="japanese_top"><a href="/hello/study_page">小学校国語</a></li>
                        <li class="japanese_top"><a href="1_japanese_j_high.html">中学校国語</a></li>
                        <li class="japanese_top"><a href="1_japanese_high.html">高校国語</a></li>
                    </ul>
                </div>
            </li>
            <li id="math">
                <a href="2_math_top.html">数学</a>
                <div id="math_menu">
                    <ul>
                        <li class="math_top"><a href="2_math_elem.html">小学校算数</a></li>
                        <li class="math_top"><a href="2_math_j_high.html">中学校数学</a></li>
                        <li class="math_top"><a href="2_math_high.html">高校数学</a></li>
                    </ul>
                </div>
            </li>
            <li id="social">
                <a href="3_social_top.html">社会</a>
                <div id="social_menu">
                    <ul>
                        <li class="social_top"><a href="3_social_elem.html">小学校社会</a></li>
                        <li class="social_top"><a href="3_social_j_high.html">中学校社会</a></li>
                        <li class="social_top"><a href="3_social_high.html">高校社会</a></li>
                    </ul>
                </div>
            </li>
            <li id="science">
                <a href="4_science_top.html">理科</a>
                <div id="science_menu">
                    <ul>
                        <li class="science_top"><a href="4_science_elem.html">小学校理科</a></li>
                        <li class="science_top"><a href="4_science_j_high.html">中学校理科</a></li>
                        <li class="science_top"><a href="4_science_high.html">高校理科</a></li>
                    </ul>
                </div>
            </li>
            <li id="english">
                <a href="5_english_top.html">英語</a>
                <div id="english_menu">
                    <ul>
                        <li class="english_top"><a href="5_english_elem.html">小学校英語</a></li>
                        <li class="english_top"><a href="5_english_j_high.html">中学校英語</a></li>
                        <li class="english_top"><a href="5_english_high.html">高校英語</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <p class="btn"><a href="#">ログイン</a></p>
</header>

<div class="back">
    <div id="page_top"><a href="#"></a></div>
    <div id="title">LIBERAL EARTH</div>
    <h2>マンガで学習しよう！</h2>
    <div id="movie"><video src="/assets/LIBERAL EARTH.mp4" controls poster="/assets/top.jpeg"></video></div>
    <div id="movie">
        <p>１、好きな分野から始めよう！</p>
        <p>２、漫画を読んでだいたい理解できたら・・・</p>
        <p>３、問題にチャレンジして、全問正解をめざそう！全問正解したら賞状カードをGET！</p>
        <p>４、記録を保存したかったら、ログインしよう！図鑑が埋まっていく！SNSシェアもできる！</p>
        <p>５、全クリしたら、スペシャルカードと動画が見られる！</p>
    </div>
</div>

<footer>
    <small>(C) 2022 LIBERAL EARTH (学習サイト)　All Rights Reserved.</small>
</footer>

</body>
</html>